/*==================================RESPONSIVE LAYOUTS===============================================*/
@media only screen and (max-width: 1100px) {
	.popup_box_img,
 	.single_inner_img{
 		width: 60%;
 	}
 		.popup_box_img img,
 		.single_inner_img img{
 			width: 100%;
 			height: auto;
 		}

 	.popup_box_inner aside,
 	.single_inner aside{
 		width: 38%;
 		padding: 0;
 		float: right;
 	}

 	.single_inner aside{
 		padding: 0;
 	}

 	.rel_item{
 		width: 45%;
 		margin: 0 2.5% 15px;
 	}

 	.rel_img_wrap{
 		width: auto;
 	}
 		.rel_img_wrap img{
 			max-width: 100%;
 			height: auto;
 		}

 	/*  Email  */
 	.subscribe_field:first-child{
 		width: 72.5%;
	    margin-bottom: 5px;
	    border-radius: 8px;
 	}
 	input.subscribe_field:nth-child(2){
 		border-radius: 8px 0 0 8px !important;
 	}

 	.fancybox-next,
 	.fancybox-prev{
		height: 50%;
		top: 50%;
		-webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
 	}
 	.fancybox-next span{
 		right: 0;
 	}
 	.fancybox-prev span{
 		left: 0;
 	}
}

@media only screen and (max-width: 995px) {
 	body{
 		min-width: 100%;
 	}
 	.subscribe_form{
 		display: inline-block;
 		text-align: left;
 	}

 	.sm_al_center{
 		text-align: center;
 	}

 	[class^="footer_col"],
 	.footer_right_col{
		width: 45% !important;
		margin: 0 2.5% 20px;
		float: left;
 	}

 	.subscribe_label{
 		float: none;
 		margin-bottom: 15px;
 	}

 	.popup_box{
 		width: 90%;
 	}

 	.single_inner aside .mapbox{
 		text-align: center;
 	}
	.single_inner aside .mapbox img{
		float: none;
		margin-bottom: 10px;
		
	}
	.single_inner aside .mapbox figcaption{
		padding-left: 0;
	}
	
	.fancybox-next{
		right: 0; 
		width: 50px; 
		height: 50px;
		position: fixed; 
		top: 50%;
		-webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
	}
	.fancybox-prev{
		left: 0;
		width: 50px;
		height: 50px; 
		position: fixed; 
		top: 50%;
		-webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
	}
		.fancybox-prev span{right: 0px; left: inherit;background: url(../images/fancy_left2.png) 0 0 no-repeat;}
		.fancybox-next span{left: 0px; right: inherit;background: url(../images/fancy_right2.png) 0 0 no-repeat;}
		.fancybox-prev span,
		.fancybox-next span {
			width: 50px;
			height: 50px;
			-webkit-background-size: 100%;
			     -o-background-size: 100%;
			        background-size: 100%;
		} 	

	.fancybox-close{
		right: 10px;
		top: 10px;
	}
}

@media only screen and (max-width: 767px) {

	[class^="footer_col"],
 	.footer_right_col{
		width: 33% !important;
		margin: 0 0 20px;
		float: left;
 	}

 	.sidebar_block{     /*   !!!   */
 		position: fixed;
 		width: 260px;
 		padding: 20px 14px;
 		background-color: #fff;
 		top: 0;
 		left: -260px;
 		bottom: 0;
 		z-index: 999999;
 		overflow: auto;
 	}

 	.showFilter .sidebar_block{
 		left: 0;
 	}

 	.filter_resp_label{
 		display: block;
 		padding: 0 0 20px 40px;
 		margin-bottom: 15px;
 		font-size: 18px;
 		color: #1d1d1b;
 		border-bottom: 1px solid #dedede;
 		background: url(../images/filter_icon.png) 0 15% no-repeat;
 	}
#content{
	padding-top: 62px;
}
header{
	height: 62px;
	border-bottom: 6px solid #1D1D1B;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 999;
}
 	.logo{
 		width: 125px;
 		margin: 0 auto;
 	}
 		.logo img{
 			max-width: 100%;
 		}
 	
 	.header_filter_btn,
 	.header_search_resp_btn{
		display: block;
		width: 20px;
 		height: 20px;
 		border: none;
 		cursor: pointer;
 		outline: none;
 		position: absolute;
 		top: 5px;
 	}
 	.header_filter_btn{
 		left: 20px;
 		background: url(../images/filter_icon2.jpg) 0 0 no-repeat;
 	}

 	.header_search_resp_btn{
 		right: 20px;
 		background: url(../images/search_icon2.png) 0 0 no-repeat;
 		-webkit-background-size: 19px;
 		background-size: 19px;
 	}

 	.header_search_form{
 		position: absolute;
 		border-radius: 0;
 		border: none;
 		z-index: 99;
 		left: 0;
 		width: 100%;
 		top: 100%;
 		visibility: hidden;
 		opacity: 0;
 		margin: -3px 0 0;
 		padding: 14px 16px 18px;
 		background: #fff;
 	}

 	.showSearch .header_search_form{
		visibility: visible;
		opacity: 1;
		background-color: #1D1D1B;
		top: -7px;
 	}

 	.header_search_form,
 	#overlay,
 	.sidebar_filter
 	{
 		-webkit-transition: all 0.4s ease;
	    -moz-transition: all 0.4s ease;
	    -o-transition: all 0.4s ease;
	    transition: all 0.4s ease;
 	}
 		input.header_search_field{
			border-radius: 8px;
			width: 100%;
			float: none;
			background-color: #ffffff;
			border: 1px solid #dddddd;
			margin: 0 0 9px;
 		}

 		.header_search_btn{
			border-radius: 8px;
			background: #f7d60d;
			display: block;
			float: none;
			width: 100%;
			text-align: center;
			position: static;
 		}

 			.header_search_btn span{
 				display: inline-block;
 				color: #000;
 				font-weight: 600;
 			}


 	#overlay{
 		top: 0;
 		left: 0;
 		width: 100%;
 		/*height: 100%;*/
 		background-color: #000;
 		opacity: .6;
 		z-index: -1;
 		visibility: visible;
 		opacity: 0;
 	}

 	.showFilter #overlay{
		opacity: .7;
		z-index: 888;
		visibility: visible;
		position: fixed;
 	}
 	.showSearch #overlay{
 		z-index: 888;
		visibility: visible;
		position: fixed;
 	}

 	.showFilter #overlay{
 		z-index: 99999;
 		height: 100%;
 	}

 	.title1{
	  font-size: 24px;
	}

	.title2{
	  font-size: 20px;
	  font-weight: 600;
	}

	.title3{
	  font-size: 18px;
	}

	.not_found_text img{
	    width: 100%;
	    height: auto;
	  }

	/*.fancybox-prev span{left: -25px;}
	.fancybox-next span{right: -25px;}*/

	  div#fancy_outer{
	  	width: 90% !important;
	  	margin: 63px auto 0;
	  }
	
	/*  subscribe  */
	.subscribe_box{
 		position: fixed;
		box-shadow: 0 -4px 4px 0 rgba(0, 0, 0, 0.2);
		z-index: 9999;
		left: 0;
		right: 0;
		bottom: -215px;
		padding: 15px 0px 0;
		text-align: center;
		display: none;
 	}
 	.subscribe_label{
 		text-align: center;
 	}

 		.subscribe_box:before{
 			display: none;
 		}

 		input.subscribe_field,
 		.subscribe_btn{
 			border-radius: 8px !important;
 			width: 100% !important;
 			margin-bottom: 5px;
 		}
	 	input.subscribe_field:nth-child(2){
	 		border-radius: 8px !important;
	 	}
	 .showSubscribe .subscribe_box{
	 	bottom: 0;
	 	-webkit-transition: all 0.3s ease;
	    -moz-transition: all 0.3s ease;
	    -o-transition: all 0.3s ease;
	    transition: all 0.3s ease;
	 }
	.showSubscribe .sab_close{
	 	display: block;
	}


	.masonry_item{
		width: 45%;
	}
		.masonry_item img{
			width: 100%;
		}


	.fancybox-close{
		right: 37px;
		top: 46px;
	}	
}

@media only screen and (max-width: 680px){
	.fancybox-close{
		right: 34px;
		top: 16px;
	}	
}

@media only screen and (max-width: 640px){
	.fancybox-wrap{
		margin-top: 50px;
	}
	[class^="footer_col"],
 	.footer_right_col{
		width: 50% !important;
		margin: 0 0 20px;
		float: left;
 	}
}

@media only screen and (max-width: 600px){
	.popup_box_img,
 	.popup_box_inner aside,
 	.single_inner_img,
 	.single_inner aside{
 		float: none;
 		width: auto;
 	}
 	/*.fancybox-inner{
 		height: 4100% !important;
 	}*/
 	.fancybox-prev span,
 	.fancybox-next span{
 		visibility: hidden;
 	}

 	.fancybox-close{
		right: 28px;
		top: -36px;
		position: absolute;
	}
	.popup_box_img {
		margin-bottom: 18px;
	}
}

@media only screen and (max-width: 500px) {
 	[class^="footer_col"],
 	.footer_right_col{
		width: auto !important;
		margin: 0 0 20px;
		float: none;
 	}

 	.masonry_item{
 		width: 45%;
 		margin: 0 2.5% 20px;
 	}

 	.masonry_item img{
 		max-width: 100%;
 		height: auto;
 	}

 	.popup_box{
 		width: 100%;
 		background-color: #fff;
 		padding: 80px 19px 19px;
 		border-radius: 8px;
 	}

 	

 	.single_inner_img{
 		margin-bottom: 19px;
 	}
 	.popup_box_inner aside{
 		overflow: visible;
 	}
 	.popup_box_inner .white_sm_box{
 		border: none;
 		background: none;
 		padding-left: 0;
 		padding-right: 0;
 	}

 	.popup_box_inner .white_sm_box,
 	.author_sm_box{
 		border-radius: 0;
 	}

 
 	.popup_close{
 		display: none;
 	}

 	.mob_popup_header{
 		position: absolute;
 		left: 0;
 		right: 0;
 		top: 0;
 		padding: 15px 19px 10px;
 		border-radius: 8px 8px 0 0;
 	}
 	.single_inner aside .mapbox{
 		text-align: left;
 	}
 	.single_inner aside .mapbox img{
 		float: left;
 		margin-bottom: 0;
 	}
 	.single_inner aside .mapbox figcaption{
 		padding-left: 15px;
 	}
 	.plagination_link{
 		font-size: 14px;
 	}

 	.rel_item{
 		width: 20%;
 	}
 		.rel_img_wrap{
 			height: 85px;
 		}
 		.rel_item figcaption{
 			display: none;
 		}

 	.fancybox-close{
 		display: block !important;
 		position: absolute;
 		top: 9px;
 		right: 9px;
 		background: url(../images/close_popup_icon2.png) 50% 50% no-repeat;
	    -webkit-background-size: 29px 29px;
 		background-size: 29px 29px;
 		z-index: 99999;
 		visibility: visible;
 		width: 50px;
 		height: 50px;
 	}	
 	.fancybox-prev,
 	.fancybox-next{
 		display: none !important;
 	}
 	.popup_box_img {
		margin-bottom: 0;
	}
}

@media only screen and (max-width: 400px) {
 	body{
 		min-width: 320px;
 	}
 	.popup_box{
 		padding-top: 90px;
 	}
 	.form_box{
 		width: 100%;
 	}
}

