@import "../css/reset.css";
@import "../css/bootstrap_grid.css";
@import "../css/jquery.formstyler.css";
@import "../js/fancybox/jquery.fancybox.css";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300);
article,aside,audio,canvas,command,datalist,details,embed,figcaption,figure,footer,header,hgroup,keygen,meter,nav,output,progress,section,source,video{display:block}mark,rp,rt,ruby,summary,time{display:inline}
/* Global properties ======================================================== */
html {width:100%}

body {
  font-family: -apple-system, 'BlinkMacSystemFont', 'Open Sans', sans-serif;
  font-size:12px;
  line-height:1.66;
  color:#4a4a4a;
  min-width:960px;
  background:#fff;
  -webkit-text-size-adjust: none;
}

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

textarea, input, button{
  font-family: -apple-system, 'BlinkMacSystemFont', 'Open Sans', sans-serif;
  outline: none;
}


.main_left{
  width: 18.60%;
  padding-left: 25px;
  padding-right: 53px;
}

.main_right{
  width: 81.4%;
}

.main_left,
.main_right{
  float: left;
}

/*----------------------> Links And buttons <------------------*/
a {
  color:#4a4a4a;
  outline:none;
  text-decoration:none;
  cursor:pointer;
}
a:hover{
  color:#138ded;
  text-decoration:none;
}

.btn{
  display:inline-block;
  padding:0 0 0;
  margin: 0 0 0;
  font-size: px;
  line-height: px;
  color:#;
 }
.btn:hover{
  background:;
  color:#000;
}

.blue_link{
  color: #2296f5;
}

/*----------------------> Basic Classes <------------------*/
.reg {text-transform:uppercase}
.f_left {float:left}
.f_right {float:right}
.al_left{text-align: left;}
.al_right {text-align:right}
.al_center {text-align:center}

.it{font-style:italic}
.let{letter-spacing:-1px}

.full_w{
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.val_mid{vertical-align: middle;}
/*----------------------> Indents Zero <------------------*/

.m_b_zero{ margin-bottom:0 !important;}
.m_l_zero{ margin-left:0 !important;}
.p_b_zero{ padding-bottom:0 !important;}
.p_l_zero{ padding-left:0 !important;}

/*----------------------> Positions <------------------*/
.p_abs{position: absolute;}
.p_rel{position: relative;}
.p_fix{position: fixed;}
.clear {clear:both;width:100%;line-height:0;font-size:0;}
.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.wrapper {overflow:hidden}
.f_elem>*:first-child{margin-top: 0 !important;}
.f_elem1>*:first-child{margin-top: 0 !important;border: none !important;}

.bg_none{ background:none !important;}

/*----------------------> Displays <------------------*/

.d_block{ display:block;}
.d_ib{ display:inline-block;}
.d_none{ display:none;}
.d_tc{ display:table-cell;}
.d_t{ display:table;}


/*----------------------> Basic Colors <------------------*/
.grey{
  color: #A4A4A4;
}

/*----------------------> FONT <------------------*/

@font-face {
  font-family: 'qanelas_softlight_italic';
  src: url('../fonts/qanelassoft-lightitalic-webfont.eot');
  src: url('../fonts/qanelassoft-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/qanelassoft-lightitalic-webfont.woff2') format('woff2'),
       url('../fonts/qanelassoft-lightitalic-webfont.woff') format('woff'),
       url('../fonts/qanelassoft-lightitalic-webfont.ttf') format('truetype'),
       url('../fonts/qanelassoft-lightitalic-webfont.svg#qanelas_softlight_italic') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'qanelas_softblack';
  src: url('../fonts/qanelassoft-black-webfont.eot');
  src: url('../fonts/qanelassoft-black-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/qanelassoft-black-webfont.woff2') format('woff2'),
       url('../fonts/qanelassoft-black-webfont.woff') format('woff'),
       url('../fonts/qanelassoft-black-webfont.ttf') format('truetype'),
       url('../fonts/qanelassoft-black-webfont.svg#qanelas_softblack') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'qanelas_softblack_italic';
  src: url('../fonts/qanelassoft-blackitalic-webfont.eot');
  src: url('../fonts/qanelassoft-blackitalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/qanelassoft-blackitalic-webfont.woff2') format('woff2'),
       url('../fonts/qanelassoft-blackitalic-webfont.woff') format('woff'),
       url('../fonts/qanelassoft-blackitalic-webfont.ttf') format('truetype'),
       url('../fonts/qanelassoft-blackitalic-webfont.svg#qanelas_softblack_italic') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'qanelas_softbold';
  src: url('../fonts/qanelassoft-bold-webfont.eot');
  src: url('../fonts/qanelassoft-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/qanelassoft-bold-webfont.woff2') format('woff2'),
       url('../fonts/qanelassoft-bold-webfont.woff') format('woff'),
       url('../fonts/qanelassoft-bold-webfont.ttf') format('truetype'),
       url('../fonts/qanelassoft-bold-webfont.svg#qanelas_softbold') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'qanelas_softbold_italic';
  src: url('../fonts/qanelassoft-bolditalic-webfont.eot');
  src: url('../fonts/qanelassoft-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/qanelassoft-bolditalic-webfont.woff2') format('woff2'),
       url('../fonts/qanelassoft-bolditalic-webfont.woff') format('woff'),
       url('../fonts/qanelassoft-bolditalic-webfont.ttf') format('truetype'),
       url('../fonts/qanelassoft-bolditalic-webfont.svg#qanelas_softbold_italic') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'qanelas_softextrabold';
  src: url('../fonts/qanelassoft-extrabold-webfont.eot');
  src: url('../fonts/qanelassoft-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/qanelassoft-extrabold-webfont.woff2') format('woff2'),
       url('../fonts/qanelassoft-extrabold-webfont.woff') format('woff'),
       url('../fonts/qanelassoft-extrabold-webfont.ttf') format('truetype'),
       url('../fonts/qanelassoft-extrabold-webfont.svg#qanelas_softextrabold') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'qanelas_softextrabold_italic';
  src: url('../fonts/qanelassoft-extrabolditalic-webfont.eot');
  src: url('../fonts/qanelassoft-extrabolditalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/qanelassoft-extrabolditalic-webfont.woff2') format('woff2'),
       url('../fonts/qanelassoft-extrabolditalic-webfont.woff') format('woff'),
       url('../fonts/qanelassoft-extrabolditalic-webfont.ttf') format('truetype'),
       url('../fonts/qanelassoft-extrabolditalic-webfont.svg#qanelas_softextrabold_italic') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'qanelas_softheavy';
  src: url('../fonts/qanelassoft-heavy-webfont.eot');
  src: url('../fonts/qanelassoft-heavy-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/qanelassoft-heavy-webfont.woff2') format('woff2'),
       url('../fonts/qanelassoft-heavy-webfont.woff') format('woff'),
       url('../fonts/qanelassoft-heavy-webfont.ttf') format('truetype'),
       url('../fonts/qanelassoft-heavy-webfont.svg#qanelas_softheavy') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'qanelas_softheavy_italic';
  src: url('../fonts/qanelassoft-heavyitalic-webfont.eot');
  src: url('../fonts/qanelassoft-heavyitalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/qanelassoft-heavyitalic-webfont.woff2') format('woff2'),
       url('../fonts/qanelassoft-heavyitalic-webfont.woff') format('woff'),
       url('../fonts/qanelassoft-heavyitalic-webfont.ttf') format('truetype'),
       url('../fonts/qanelassoft-heavyitalic-webfont.svg#qanelas_softheavy_italic') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'qanelas_softlight';
  src: url('../fonts/qanelassoft-light-webfont.eot');
  src: url('../fonts/qanelassoft-light-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/qanelassoft-light-webfont.woff2') format('woff2'),
       url('../fonts/qanelassoft-light-webfont.woff') format('woff'),
       url('../fonts/qanelassoft-light-webfont.ttf') format('truetype'),
       url('../fonts/qanelassoft-light-webfont.svg#qanelas_softlight') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'qanelas_softmedium';
  src: url('../fonts/qanelassoft-medium-webfont.eot');
  src: url('../fonts/qanelassoft-medium-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/qanelassoft-medium-webfont.woff2') format('woff2'),
       url('../fonts/qanelassoft-medium-webfont.woff') format('woff'),
       url('../fonts/qanelassoft-medium-webfont.ttf') format('truetype'),
       url('../fonts/qanelassoft-medium-webfont.svg#qanelas_softmedium') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'qanelas_softmedium_italic';
  src: url('../fonts/qanelassoft-mediumitalic-webfont.eot');
  src: url('../fonts/qanelassoft-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/qanelassoft-mediumitalic-webfont.woff2') format('woff2'),
       url('../fonts/qanelassoft-mediumitalic-webfont.woff') format('woff'),
       url('../fonts/qanelassoft-mediumitalic-webfont.ttf') format('truetype'),
       url('../fonts/qanelassoft-mediumitalic-webfont.svg#qanelas_softmedium_italic') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'qanelas_softregular';
  src: url('../fonts/qanelassoft-regular-webfont.eot');
  src: url('../fonts/qanelassoft-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/qanelassoft-regular-webfont.woff2') format('woff2'),
       url('../fonts/qanelassoft-regular-webfont.woff') format('woff'),
       url('../fonts/qanelassoft-regular-webfont.ttf') format('truetype'),
       url('../fonts/qanelassoft-regular-webfont.svg#qanelas_softregular') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'qanelas_softregular_italic';
  src: url('../fonts/qanelassoft-regularitalic-webfont.eot');
  src: url('../fonts/qanelassoft-regularitalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/qanelassoft-regularitalic-webfont.woff2') format('woff2'),
       url('../fonts/qanelassoft-regularitalic-webfont.woff') format('woff'),
       url('../fonts/qanelassoft-regularitalic-webfont.ttf') format('truetype'),
       url('../fonts/qanelassoft-regularitalic-webfont.svg#qanelas_softregular_italic') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'qanelas_softsemibold';
  src: url('../fonts/qanelassoft-semibold-webfont.eot');
  src: url('../fonts/qanelassoft-semibold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/qanelassoft-semibold-webfont.woff2') format('woff2'),
       url('../fonts/qanelassoft-semibold-webfont.woff') format('woff'),
       url('../fonts/qanelassoft-semibold-webfont.ttf') format('truetype'),
       url('../fonts/qanelassoft-semibold-webfont.svg#qanelas_softsemibold') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'qanelas_softsemibold_italic';
  src: url('../fonts/qanelassoft-semibolditalic-webfont.eot');
  src: url('../fonts/qanelassoft-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/qanelassoft-semibolditalic-webfont.woff2') format('woff2'),
       url('../fonts/qanelassoft-semibolditalic-webfont.woff') format('woff'),
       url('../fonts/qanelassoft-semibolditalic-webfont.ttf') format('truetype'),
       url('../fonts/qanelassoft-semibolditalic-webfont.svg#qanelas_softsemibold_italic') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'qanelas_softthin';
  src: url('../fonts/qanelassoft-thin-webfont.eot');
  src: url('../fonts/qanelassoft-thin-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/qanelassoft-thin-webfont.woff2') format('woff2'),
       url('../fonts/qanelassoft-thin-webfont.woff') format('woff'),
       url('../fonts/qanelassoft-thin-webfont.ttf') format('truetype'),
       url('../fonts/qanelassoft-thin-webfont.svg#qanelas_softthin') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'qanelas_softthin_italic';
  src: url('../fonts/qanelassoft-thinitalic-webfont.eot');
  src: url('../fonts/qanelassoft-thinitalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/qanelassoft-thinitalic-webfont.woff2') format('woff2'),
       url('../fonts/qanelassoft-thinitalic-webfont.woff') format('woff'),
       url('../fonts/qanelassoft-thinitalic-webfont.ttf') format('truetype'),
       url('../fonts/qanelassoft-thinitalic-webfont.svg#qanelas_softthin_italic') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'qanelas_softultralight';
  src: url('../fonts/qanelassoft-ultralight-webfont.eot');
  src: url('../fonts/qanelassoft-ultralight-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/qanelassoft-ultralight-webfont.woff2') format('woff2'),
       url('../fonts/qanelassoft-ultralight-webfont.woff') format('woff'),
       url('../fonts/qanelassoft-ultralight-webfont.ttf') format('truetype'),
       url('../fonts/qanelassoft-ultralight-webfont.svg#qanelas_softultralight') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'qanelas_softultralight_italic';
  src: url('../fonts/qanelassoft-ultralightitalic-webfont.eot');
  src: url('../fonts/qanelassoft-ultralightitalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/qanelassoft-ultralightitalic-webfont.woff2') format('woff2'),
       url('../fonts/qanelassoft-ultralightitalic-webfont.woff') format('woff'),
       url('../fonts/qanelassoft-ultralightitalic-webfont.ttf') format('truetype'),
       url('../fonts/qanelassoft-ultralightitalic-webfont.svg#qanelas_softultralight_italic') format('svg');
  font-weight: normal;
  font-style: normal;

}

/*======================> Header <======================*/

header {
  padding: 16px 0;
  background-color: #1D1D1B;
}
  .logo{
    padding: 0 0 0 5px;
    width: 173px;
  }
    .logo img{
      width: 100%;
      height: auto;
    }
    .logo a{
      display: inline-block;
    }

  .header_search_form{
    border-radius: 8px;
    background-color: #ffffff;
    border: solid 1px #dddddd;
    width: 325px;
    margin: 4px 0 0 ;
  }
  .header_search_field:focus{
    -webkit-box-shadow: inset 0 0 6px #F7D60D;
            box-shadow: inset 0 0 6px #F7D60D;
  }

  input.header_search_field{
    font-size: 14px;
    line-height: 1.3;
    padding: 10px 5px 11px 16px;
    color: #4a4a4a;
    background: none;
    border: none;
    width: 100%;
    float: left;
    border-radius: 8px;
  }

  .header_search_btn{
    position: absolute;
    left: 310px;
    display: block;
    width: 30px;
    height: 38px;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 8px;
    background: url(../images/search_icon.png) 20% 50% no-repeat;
    -webkit-background-size: 19px;
    background-size: 19px;
  }


/*=====================> Subscribe box ========================*/
.subscribe_box{
  position: relative;
  color: #1d1d1b;
  padding: 22px 0;
  line-height: 1.5;
  background-color: #F7D60D;
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

  .subscribe_box .container{
    position: relative;
    z-index: 2;
  }

  .subscribe_label{
    padding-right: 35px;
  }
    .subscribe_label strong{
      font-size: 14px;
      line-height: 1.1;
      color: #1d1d1b;
    }

  .subscribe_inner{
    overflow: hidden;
  }
    input.subscribe_field{
      float: left;
      border: none;
      font-size: 12px;
      color: #9b9b9b;
      width: 222px;
      padding: 9px 15px 10px;
      background-color: #ffffff;
    }
    .subscribe_field:first-child{
      border-radius: 8px 0 0 8px;
      margin-right: 2px;
    }
    .subscribe_field:last-child{
      
    }

    .subscribe_btn{
      float: left;
      display: block;
      border: none;
      cursor: pointer;
      color: #fff;
      padding: 9px 15px;
      border-radius: 0 8px 8px 0;
      background-color: #1d1d1b;
    }

    input.subscribe_field,
    .subscribe_btn{
      height: 36px;
    }
    .subscribe_resp_btn{
      z-index: 9;
      position: fixed;
      right: 0;
      top: 62px;
      width: 41px;
      height: 34px;
      border: none;
      cursor: pointer;
      -webkit-border-radius: 0 0 0 8px;
              border-radius: 0 0 0 8px;
      background: #F7D60D url(../images/sab_icon.png) 50% 50% no-repeat;
    } 
    .sab_close{
      border: none;
      position: absolute;
      right: 20px;
      top: 0px;
      width: 15px;
      height: 15px;
      background: url(../images/img_close.png) 50% 50% no-repeat;
      -webkit-background-size: 100%;
           -o-background-size: 100%;
              background-size: 100%;
    }

/*=====================> Content ========================*/
#content {padding:25px 0px; //min-height: 1500px;}
.cont_pad{padding:0 0 0 0 !important;}

.not_found_text{
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.4px;
  color: #9b9b9b;
  padding: 30px 0 0;
}

  .not_found_text_wrapp,
  .error_not_found_text_wrapp{
    display: inline-block;
    width: auto;
    text-align: left; 
    margin-top: 85px;   
  }

  .error_not_found_text_wrapp{
    margin-top: 49px;
  }

.sidebar_block p{
  font-size: 12px;
}
  .sidebar_list_item.current a{
    color: #2D2D2B;
    padding-left: 15px;
    position: relative;
  }
  .sidebar_list_item a:hover{
    color: #9D9D9D;
  }
    .sidebar_list_item.current a:before{
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -4px;
      width: 8px;
      height: 8px;
      background-color: #F7D60D;
      -webkit-border-radius: 50%;
              border-radius: 50%;
    }
.sidebar_filter{
  padding: 0px 0 0;
  /*margin-top: -20px;*/
  color: #4a4a4a;
}

  .filter_hr{
    border: none;
    height: 1px;
    margin: 17px 0;
    background-color: #dedede;
  }

  .checkbox_wrap{
    display: block;
    margin-bottom: 1px;
  }

  #content .main_right .posts_order_by:first-child{
    margin-top: -30px;
  }
  .posts_order_by{
    padding: 0px 0 16px;
  }
    .posts_order_by a{
      display: inline-block;
      color: #000;
      font-size: 13px;
      margin-right: 15px;
      border-bottom: 3px solid transparent;
    }
      .posts_order_by .current{
        font-weight: bold;
        border-color: #138ded;

      }

.pagination_box{
  margin-top: 25px;
  text-align: center;
}
  .pagination_box span{
    color: #1d1d1b;
    font-size: 14px;
    line-height: 1.2;
    margin-right: 15px;
  }
  .pagination_box span,
  .pagination_list{
    display: inline-block;
    vertical-align: middle;
    font-family: 'qanelas_softregular';
  }
    .pagination_list_item{
      display: inline-block;
      margin-right: 2px;
    }
      .plagination_link{
        color: #1d1d1b;
        font-size: 18px;
        line-height: 1.2;
        padding: 1.5px 8.5px;
        -webkit-border-radius: 20px;
                border-radius: 20px;
      }
      .plagination_link.current{
        background-color: #f7d60d;
      }
      .plagination_link:hover{
        color: #1d1d1b;
        background-color: #E0E0E0;
      }


  .masonry_item{
    margin: 5px;
    float: left;
    position: absolute;
    -webkit-border-radius: 10px !important;
            border-radius: 10px !important;
    overflow: hidden;
  }
  .masonry_item a{
    position: relative;
    display: block;
  }
    .masonry_item a:before{
      visibility: hidden;
      opacity: 0;
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1d1d1b+0,1d1d1b+100&0+0,0+14,1+100 */
      background: -moz-linear-gradient(top,  rgba(29,29,27,0) 0%, rgba(29,29,27,0) 14%, rgba(29,29,27,1) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top,  rgba(29,29,27,0) 0%,rgba(29,29,27,0) 14%,rgba(29,29,27,1) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom,  rgba(29,29,27,0) 0%,rgba(29,29,27,0) 14%,rgba(29,29,27,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      -webkit-border-radius: 10px !important;
            border-radius: 10px !important;
    }
    .masonry_figcaption{
      color: #FFF;
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      visibility: hidden;
      padding: 20px 18px;

    }
      .masonry_figcaption p{
        margin-bottom: 2px;
      }
      .masonry_figcaption span{
        color: #9b9b9b;
      }

  /*preloader*/
  .hellopreloader.active{
    display: none;
  }
  .hellopreloader{
    display: block;
    position: absolute;
    z-index: 99999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #F3f3f3;
  }
  .hellopreloader_preload{
    background: url(../images/preloader_icon.jpg) center center no-repeat;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -12px;
    margin-left: -12px;
    -webkit-animation: preloader 1s ease infinite;
            animation: preloader 1s ease infinite;
    }

    @keyframes preloader {
    
      from {
        -webkit-transform: rotate(0deg);
           -moz-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
             -o-transform: rotate(0deg);
                transform: rotate(0deg);
      }
      
      to {
        -webkit-transform: rotate(360deg);
           -moz-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
             -o-transform: rotate(360deg);
                transform: rotate(360deg);
      }

    }
    @-webkit-keyframes preloader {

      from {
        -webkit-transform: rotate(0deg);
           -moz-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
             -o-transform: rotate(0deg);
                transform: rotate(0deg);
      }
      
      to {
        -webkit-transform: rotate(360deg);
           -moz-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
             -o-transform: rotate(360deg);
                transform: rotate(360deg);
      }

    } 


/*=====================> Paragraphs ========================*/

p {
  font-size: 14px;
  margin-bottom:18px
}

.mb1{ margin-bottom:1px;}
.mb2{ margin-bottom:2px;}
.mb3{ margin-bottom:3px;}
.mb4{ margin-bottom:4px;}
.mb5{ margin-bottom:5px;}
.mb6{ margin-bottom:6px;}
.mb7{ margin-bottom:7px;}
.mb8{ margin-bottom:8px;}
.mb9{ margin-bottom:9px;}
.mb10{ margin-bottom:10px;}
.mb11{ margin-bottom:11px;}
.mb12{ margin-bottom:12px;}
.mb13{ margin-bottom:13px;}
.mb14{ margin-bottom:14px;}
.mb15{ margin-bottom:15px;}
.mb16{ margin-bottom:16px;}
.mb17{ margin-bottom:17px;}
.mb18{ margin-bottom:18px;}
.mb19{ margin-bottom:19px;}
.mb20{ margin-bottom:20px;}
.mb21{ margin-bottom:21px;}
.mb22{ margin-bottom:22px;}
.mb23{ margin-bottom:23px;}
.mb24{ margin-bottom:24px;}
.mb25{ margin-bottom:25px;}
.mb26{ margin-bottom:26px;}
.mb27{ margin-bottom:27px;}
.mb28{ margin-bottom:28px;}
.mb29{ margin-bottom:29px;}
.mb30{ margin-bottom:30px;}
.mb31{ margin-bottom:31px;}
.mb32{ margin-bottom:32px;}
.mb33{ margin-bottom:33px;}
.mb34{ margin-bottom:34px;}
.mb35{ margin-bottom:35px;}
.mb36{ margin-bottom:36px;}
.mb37{ margin-bottom:37px;}
.mb38{ margin-bottom:38px;}
.mb39{ margin-bottom:39px;}
.mb40{ margin-bottom:40px;}
.mb41{ margin-bottom:41px;}
.mb42{ margin-bottom:42px;}
.mb43{ margin-bottom:43px;}
.mb44{ margin-bottom:44px;}
.mb45{ margin-bottom:45px;}
.mb46{ margin-bottom:46px;}
.mb47{ margin-bottom:47px;}
.mb48{ margin-bottom:48px;}
.mb49{ margin-bottom:49px;}
.mb50{ margin-bottom:50px;}
.mb51{ margin-bottom:51px;}
.mb52{ margin-bottom:52px;}
.mb53{ margin-bottom:53px;}
.mb54{ margin-bottom:54px;}
.mb55{ margin-bottom:55px;}
.mb58{ margin-bottom:58px;}
.mb62{ margin-bottom:62px;}
.mb75{ margin-bottom: 75px;}

.mb145{ margin-bottom: 145px;}


/*=====================> Lists ========================*/
.list1{}
.list1 li{
  background:url(../images/marker1.png) 0 7px no-repeat;
  padding-left:20px;
}
.list1 a{}

.list2{}
.list2 li{
  background:url(../images/marker1.png) 0 7px no-repeat;
  padding-left:20px;
}
.list2 a{}

.list3{}
.list3 li{
  background:url(../images/marker1.png) 0 7px no-repeat;
  padding-left:20px;
}
.list3 a{}

/*=====================> Titles ========================*/
h2,h3,h4{
  font-weight:normal;
}
.title1{
  font-size: 32px;
  line-height: 1.23;
  color: #585858;
  font-weight: 600;
}

.title2{
  font-size: 28px;
  line-height: 1.2;
  color: #9b9b9b;
  font-weight: 600;
}

.title3{
  font-size: 18px;
  line-height: 1.2;
  color: #1d1d1b;
}

.title4{
  color: #555555;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 12px;
}

.title4_2{
  color: #555555;
  font-size: 11px;
  font-weight: bold;
  margin-bottom: 12px;
}

.title6{
  font-size: 11px;
  text-transform: uppercase;
  font-weight: normal;
  color: #9b9b9b;
}


/*================================>> GOOGLE FONTS  <<========================================*/



/*================================>> hovers <<========================================*/
a{
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}
a:hover{
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}

.masonry_item{
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
  .masonry_item:hover .masonry_figcaption,
  .masonry_item:hover a:before{
    visibility: visible;
    opacity: 1;
    cursor: pointer;
  }



/*================================>> Contact Form <<========================================*/
#contact-form {
  padding:0px 0 0 0;
  position: relative;
}
#contact-form .success
{
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  left:0;
  z-index: 99;
  background: #fff;
  border: 1px solid #000;
  text-align: center;
  padding: 20px 0;
}
.txt_field{
  margin:0;
  font-size:12px;
  border:1px solid #e7e7e7;
  color:#969696;
  padding:7px 10px;
  outline:none;
  position:relative;
  font-family: -apple-system, 'BlinkMacSystemFont', 'Open Sans', sans-serif;
  background:#fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.msg_field{
  overflow:auto;
  width:433px;
  height:172px;
  resize:none;
  float:left;
  margin: 0 0 0 0;
}

#contact-form .error, #contact-form .empty, #contact-form .success {display:none;}
#contact-form .error, #contact-form .empty {
  text-align:left;
  color:red;
  font-size:11px;
  position: absolute;
  right: 10px;
  top: 5px;
}
#contact-form .buttons2 {
  overflow:hidden;
  text-align:right;
  position:relative;
  clear:both;
  padding-top:25px;
}
#contact-form .buttons2 a {
	cursor:pointer;
	margin-top:0;
	text-align:center;
}
#contact-form span{
  display:block;
  margin: 0px 0 0 5px;
 }

.map_wrapper{
  overflow:hidden;
  display:inline-block;
  margin-bottom:26px;
}

  /*---  form2  --*/
  .form_box{
    width: 327px;
    padding-top: 36px;
    display: inline-block;
  }
    .form_row{
      width: 100%;
      margin-bottom: 10px;
    }
      .form_input{
        width: 100%;
        height: 50px;
        color: #1D1D1B;
        font-size: 14px;
        border-radius: 8px !important;
        background-color: #fff;
        padding: 17px 18px 17px;
        border: solid 1px #d9d9d9;
      }
    .btn_yellow{
      width: 100%;
      height: 50px;
      border: none;
      color: #1d1d1b;
      font-size: 16px;
      border-radius: 8px;
      background-color: #f7d60d;
    }
/* chrome  */
  input::-webkit-input-placeholder{
      line-height: 50px;   
      transition: all 0.5s ease;
      color: #9b9b9b;
      font-weight: 400;
      -ms-text-overflow: ellipsis;
      text-overflow: ellipsis;
  }
  /* !!! */
  /* mozilla */
  input::-moz-placeholder{
      line-height: 50px;   
      transition: all 0.5s ease;
      color: #9b9b9b;
      font-weight: 400;
      -ms-text-overflow: ellipsis;
      text-overflow: ellipsis;
  }
  input:-moz-placeholder{
      line-height: 50px;   
      transition: all 0.5s ease;
      color: #9b9b9b;
      font-weight: 400;
      -ms-text-overflow: ellipsis;
      text-overflow: ellipsis;
  }
  /* !!! */
  /* microsoft */
  input:-ms-input-placeholder{
      line-height: 50px;   
      transition: all 0.5s ease;
      color: #9b9b9b;
      font-weight: 400;
      -ms-text-overflow: ellipsis;
      text-overflow: ellipsis;
  }
  /* !!! */
  input.form_input::-webkit-input-placeholder,
  input.form_input::-moz-placeholder,
  input.form_input:-moz-placeholder,
  input.form_input:-ms-input-placeholder{
    font-size: 14px;
  }

  input.subscribe_field::-webkit-input-placeholder,
  input.subscribe_field::-moz-placeholder,
  input.subscribe_field:-moz-placeholder,
  input.subscribe_field:-ms-input-placeholder{
    font-size: 12px;
  }
  input.subscribe_field:focus {
    border: 1px solid #1d1d1b;
    -webkit-box-shadow: 0 0 0 #1d1d1b;
    box-shadow: 0 0 0 #1d1d1b;
  }
  input.subscribe_field:focus {
    border: 1px solid #1d1d1b;
    -webkit-box-shadow: 0 0 0 #1d1d1b;
    box-shadow: 0 0 0 #1d1d1b;
  }
  input.subscribe_field:focus {
    border: 1px solid #1d1d1b;
    -webkit-box-shadow: 0 0 0 #1d1d1b;
    box-shadow: 0 0 0 #1d1d1b;
  }
  input.subscribe_field:focus {
    border: 1px solid #1d1d1b;
    -webkit-box-shadow: 0 0 0 #1d1d1b;
    box-shadow: 0 0 0 #1d1d1b;
  }

  /* ======================== */
  /* focus chrome */
  input:focus::-webkit-input-placeholder{
      text-indent:10em;
      color:transparent;
  }
  /* !!! */
  /* focus mozilla */
  input:focus::-moz-placeholder{
      text-indent:10em;
      color:transparent;
  }
  input:focus:-moz-placeholder{
      text-indent:10em;
      color:transparent;
  }
  /* !!! */
  /* focus microsoft */
  input:focus:-ms-input-placeholder{
      text-indent:10em;
      color:transparent;
  }
  /* !!! */

/*================================>> Contacts Info <<========================================*/
#map_canvas {
   width:411px;
   height:237px;
}
.adress{}
.adress span{
  display:inline-block;
}
.adress dt{ margin-bottom:14px;}



/*================================>> Popups <<========================================*/
.popup_box{
  width: 800px;
  margin: 0 auto;
}
  .popup_close{
    background: url(../images/close_popup_icon.png) 0 0 no-repeat;
    width: 29px;
    height: 29px;
    cursor: pointer;
    display: block;
    position: absolute;
    left: 100%;
    bottom: 100%;
    margin: 0 0 10px 10px;
  }

  .popup_box img,
  .white_sm_box,
  .single_inner img{
    border-radius: 8px;
    background-color: #FFF;
  }

  .white_sm_box{
    padding: 19px;
  }

  .post_info{
    background-color: #d7dadc;
    font-size: 11px;
    color: #9b9b9b;
  }

  .white_sm_box .post_info{
    margin-left: -19px;
    margin-right: -19px;
    padding: 3px 19px 2px;
  }

  .popup_box_inner aside,
  .single_inner aside{
    padding-left: 16px;
    width: 290px;
    overflow: hidden;
  }

    .tags,
    .tags a{
      font-size: 14px;
      color: #9b9b9b;
    }

  .author_sm_box{
    padding: 10px 18px 12px;
    margin: 0 -19px -19px;
    border-radius: 0 0 8px 8px;
    background-color: #f3f3f3;
  }
    .sm_author_img{
      border-radius: 50%;
    }

    .author_sm_box figcaption{
      padding: 0 0 0 15px;
    }

.rel_items_wrap{
  margin: 0 -7px -10px;
}
  .rel_item{
    width: 110px;
    margin: 0 7px 16px;
    float: left;
  }
    .rel_item .title5{
      line-height: 1.1;
    }
    .rel_img_wrap{
      width: 110px;
      height: 110px;
      display: block;
      border-radius: 8px;
      margin-bottom: 12px;
      background-color: #d8d8d8;
      position: relative;
    }
      .rel_img_wrap:hover:before{
        visibility: visible;
        opacity: 1;
        cursor: pointer;
      }
      .rel_img_wrap:before{
        visibility: hidden;
        opacity: 0;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1d1d1b+0,1d1d1b+100&0+0,0+14,1+100 */
        background: -moz-linear-gradient(top,  rgba(29,29,27,0) 0%, rgba(29,29,27,0) 14%, rgba(29,29,27,.8) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  rgba(29,29,27,0) 0%,rgba(29,29,27,0) 14%,rgba(29,29,27,.8) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  rgba(29,29,27,0) 0%,rgba(29,29,27,0) 14%,rgba(29,29,27,.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        -webkit-border-radius: 10px !important;
              border-radius: 10px !important;
      }
      .rel_img_wrap img{
        border-radius: 8px;
        max-width: 100%;
        height: auto;
      }

  .popup_box .mapbox_wrap_popup{
    -webkit-border-radius: 8px;
            border-radius: 8px;
    box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.08);
    background-color: #FFF; 
    padding: 11px 10px 10px 9px;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .popup_box .mapbox_wrap_popup .mapbox{
    padding-top: 0;
  }
  .popup_box .mapbox_wrap_popup .mapbox img{
    width: 110px;
  }

/*================================>> Footer <<========================================*/

.footer_inner{
  padding:23px 0 30px;
  border-top: 1px solid #cccccc;
}

  .footer_logo{
    margin-top: -12px;
    width: 130px;
  }
    .footer_logo img{
      width: 100%;
      height: auto;
    }

.sm_text{
  opacity: .5;
}
.social{
  overflow:hidden;
}
.social a{
  display:block;
  float:left;
  width:32px;
  height:32px;
  overflow:hidden;
  margin-left:8px;
}
.social a:first-child{margin: 0 0 0 0;}
.social a:hover img{
  margin-top:-32px;
}

[class^="footer_col"]{
  float: left;
}
.footer_col1{
  width: 280px;
  margin-right: 37px;
}
[class^="footer_col"]:not(.footer_col1){
  width: 120px;
  padding-top: 12px;
}

.footer_links{
  font-size: 11px;
}
  .footer_links a{
    color: #888888;
  }

.footer_col4{
  margin-left: 35px;
  width: 200px !important;
}

  .footer_jobs li{
    overflow: hidden;
    margin-bottom: 17px;
  }
  .footer_jobs img{
    border-radius: 50%;
  }

  .footer_jobs_caption{
    overflow: hidden;
    padding: 0 0 0 10px;
  }

  .footer_jobs_caption .title4{
    margin-bottom: 0px;
  }

  .mapbox{
    width: 285px;
    max-width: 100%;
    padding: 13px 0 0
  }
  .mapbox figcaption{
    padding: 0 0 0 15px;
    font-size: 13px;
  }

  .mapbox .title4{
    margin-bottom: 0;
  }

/*============================= Easy responsive tabs ============================*/


.resp-tabs-list li {
    
}


h2.resp-accordion {
    display: none;
}

.resp-tab-content {
    display: none;
}

.resp-content-active, .resp-accordion-active {
    display: block;
}

.resp-easy-accordion  h2.resp-accordion {
        display: block;
}

.resp-tab-content-active {
    display: block;
}


@media only screen and (max-width: 768px) {
    ul.resp-tabs-list {
        display: none;
    }

    h2.resp-accordion {
        display: block;
    }

    
    .resp-accordion-closed {
        display:none !important;
    }
    
}


/*============================ Arctic modal =============================*/
.arcticmodal-overlay,
.arcticmodal-container { position: fixed; left: 0; top: 0; right: 0; bottom: 0; z-index: 99999; }
.arcticmodal-container { overflow: auto; margin: 0; padding: 0; border: 0; border-collapse: collapse; }
*:first-child+html .arcticmodal-container { height: 100% }
.arcticmodal-container_i { height: 100%; margin: 0 auto; }
.arcticmodal-container_i2 { padding: 24px; margin: 0; border: 0; vertical-align: middle; }
.arcticmodal-error { padding: 20px; border-radius: 10px; background: #000; color: #fff; }
.arcticmodal-loading { width: 80px; height: 80px; border-radius: 10px; background: #000 url(loading.gif) no-repeat 50% 50%; }

.links a{
  text-decoration: underline;
  font-size: 20px;
}


/* ========================== OWL CAROUSEL =============================*/
/* 
 *  Core Owl Carousel CSS File
 *  v1.3.2
 */

/* clearfix */
.owl-carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
/* display none until init */
.owl-carousel{
  display: none;
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
  overflow: hidden;
  position: relative;
  width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}
  
.owl-carousel .owl-item{
  float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
  cursor: pointer;
}
.owl-controls {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing { 
    cursor:url(grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility:    hidden;
  -ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}

